@font-face {
  font-family: avenir;
  src: url(/assets/fonts/AvenirLTStd-Roman.otf);
}

.rows {
  width: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colums {
  width: 23%;
  height: 100%;
  color: #ffffff;
  background-color: #0c0c63;
}

.colums a:link {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  font-family: avenir;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.colums a:visited {
  color: #ffffff;
}

.colums a:hover {
  color: #ff9933;
}

.colum2 {
  width: 77%;
  color: #ff9933;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secrow {
  width: 100%;
}

.space {
  height: 24vh;
  width: 2vh;
}

.seccol {
  margin-top: 4rem;
  width: 100%;
}

.seccol-col {
  padding: 1.5rem;
}

.seccol-header {
  color: #ff9933;
  font-family: avenir;
  font-size: 5vh;
}

.seccol-input {
  width: 80%;
  border-radius: 6px;
  color: #0c0c63;
  font-family: avenir;
  padding: 5px;
  border: 2px solid black;
}

.seccol-input:focus {
  outline: none;
}

.logoimg {
  width: 47vh;
  padding: 15px;
}

.identity {
  background-color: #2b2b9c;
  padding: 2rem;
}

.identity-header-1 {
  color: #ffffff;
  font-size: 3vw;
  margin-bottom: -0.5rem;
  font-family: avenir;
}

.identity-header-2 {
  color: #ffffff;
  font-size: 3vw;
  font-family: avenir;
}

.identity-header-3 {
  color: #ffffff;
  font-size: 1.5vw;
  font-family: avenir;
}

.side-option {
  color: #ffffff;
  margin: auto;
}

.side-option-items {
  padding: 40px 5px 10px;
  font-size: 2.3vw;
  font-family: avenir;
}

.line {
  background-color: #2b2b9c;
  height: 2px;
  width: 18rem;
  margin: auto;
  border-radius: 20px;
}

.button {
  margin-left: 10vh;
  background-color: white;
  color: #ff9933;
  border: 2px solid #0c0c63;
  width: 45vh;
  padding: 2.5vh;
  border-radius: 35px;
  font-size: 4vh;
  font-family: avenir;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.button:hover {
  background-color: #0c0c63;
  /* Green */
  color: #ff9933;
  -webkit-transform: translate(0.1px, -1px);
          transform: translate(0.1px, -1px);
}

.button:focus {
  outline: none;
}

.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  /* The sidebar links */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar a:link {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  font-family: avenir;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar a:visited {
  color: #ffffff;
}

/* The button used to open the sidebar */
.logoimg2 {
  height: 1vh;
  visibility: hidden;
}

.openbtn {
  font-size: 1px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  visibility: hidden;
}

.openbtn :hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  /* If you want a transition effect */
}

.all {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 33, 33, 0.4))), url(../img/closeup-heart-stethoscope-cardiovascular-checkup-concept.jpg);
  background-image: linear-gradient(rgba(34, 33, 33, 0.4)), url(../img/closeup-heart-stethoscope-cardiovascular-checkup-concept.jpg);
  background-size: cover;
  height: 100%;
}

.login {
  font-family: avenir;
  background: #ffffff;
  width: 25rem;
  border-radius: 35px;
}

.login-header {
  padding-top: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #0c0c63;
}

.login-container {
  padding-top: 20vh;
  padding-bottom: 12vh;
  min-width: 1rem;
  max-width: 22rem;
  margin: auto;
}

.login-input {
  border: none;
  font-size: 3.5vh;
  border-bottom: 1px solid black;
  width: 70%;
  margin: 2rem;
  color: #2b2b9c;
  padding: 3px 15px 7px 12px;
}

.login-input::-webkit-input-placeholder {
  color: grey;
  font-size: 30px;
  font-family: avenir;
}

.login-input:focus {
  outline: none;
}

.login-submit {
  width: 50%;
  height: 3.3rem;
  border-radius: 35px;
  color: #ffffff;
  background-color: #2b2b9c;
  font-family: avenir;
  font-size: 20px;
  border: none;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.login-submit:focus {
  outline: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0c0c63;
  color: #ff9933;
  font-family: avenir;
  font-size: 3.5vh;
  text-align: center;
}

@media screen and (max-width: 576px), (max-height: 450px) {
  .button {
    width: 25vh;
    padding: 0.5vh;
    margin: 0vh;
    margin-top: 2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #0c0c63;
  }
  .rows {
    display: block;
  }
  .colums {
    width: 100%;
    display: none;
  }
  .colum2 {
    width: 100%;
    display: inline;
  }
  .seccol {
    margin-top: 1px;
    padding-left: 2rem;
    width: 100%;
  }
  .seccol-col {
    padding: 0.5rem;
  }
  .seccol-input {
    width: 80%;
  }
  .sidebar {
    z-index: 100;
    padding-top: 15px;
    font-size: 18px;
    background: #0c0c63;
  }
  #main {
    padding-top: 2px;
  }
  .logoimg2 {
    height: 10vh;
    visibility: visible;
    padding-left: 15px;
  }
  .body {
    height: 35.05rem;
  }
  .identity {
    height: 25%;
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
  .identity-header-1 {
    font-size: 6vw;
    margin-bottom: -0.5rem;
  }
  .identity-header-2 {
    font-size: 6vw;
    margin-bottom: 1rem;
  }
  .identity-header-3 {
    font-size: 3vw;
  }
  .side-option {
    color: #ffffff;
    margin: auto;
  }
  .side-option-items {
    padding: 20px 1px 15px;
    font-size: 7vw;
    font-family: avenir;
  }
  .sidebar {
    background: #0c0c63;
  }
  .openbtn {
    visibility: visible;
    margin-left: 13vh;
    font-size: 6vh;
    border-radius: 10px;
  }
  .body {
    height: 85vh;
  }
  .space {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */