$color-blue-regular: #0c0c63;
$color-blue: #2b2b9c;
$color-orange: #ff9933;
$color-white: #ffffff;
$font-family: avenir;

@font-face {
  font-family: $font-family;
  src: url(/assets/fonts/AvenirLTStd-Roman.otf);
}

.rows {
  width: 100%;
  background-color: $color-white;
  display: flex;
}
.colums {
  width: 23%;
  height: 100%;
  color: $color-white;
  background-color: $color-blue-regular;
  a:link {
    text-decoration: none;
    font-size: 25px;
    color: $color-white;
    font-family: $font-family;
    transition: 0.3s;
  }
  & a:visited {
    color: $color-white;
  }
  & a:hover {
    color: $color-orange;
  }
}
.colum2 {
  width: 77%;
  color: $color-orange;
  background-color: $color-white;
  display: flex;
}
.secrow {
  width: 100%;
}
.space {
  height: 24vh;
  width: 2vh;
}
.seccol {
  margin-top: 4rem;
  width: 100%;
  &-col {
    padding: 1.5rem;
  }
  &-header {
    color: $color-orange;
    font-family: $font-family;
    font-size: 5vh;
  }
  &-input {
    width: 80%;
    border-radius: 6px;
    color: $color-blue-regular;
    font-family: $font-family;
    padding: 5px;
    border: 2px solid black;
    &:focus {
      outline: none;
      // border: 1px solid $color-white;
    }
  }
}

.logoimg {
  width: 47vh;
  padding: 15px;
}
.identity {
  background-color: $color-blue;
  padding: 2rem;
  &-header-1 {
    color: $color-white;
    font-size: 3vw;
    margin-bottom: -0.5rem;
    font-family: $font-family;
  }
  &-header-2 {
    color: $color-white;
    font-size: 3vw;
    font-family: $font-family;
  }
  &-header-3 {
    color: $color-white;
    font-size: 1.5vw;
    font-family: $font-family;
  }
}
.side-option {
  color: $color-white;
  margin: auto;
  &-items {
    padding: 40px 5px 10px;
    font-size: 2.3vw;
    font-family: $font-family;
  }
}
.line {
  background-color: $color-blue;
  height: 2px;
  width: 18rem;
  margin: auto;
  border-radius: 20px;
}
.button {
  margin-left: 10vh;
  background-color: white;
  color: $color-orange;
  border: 2px solid $color-blue-regular;
  width: 45vh;
  padding: 2.5vh;
  border-radius: 35px;
  font-size: 4vh;
  font-family: $font-family;
  transition-duration: 0.4s;
  &:hover {
    background-color: $color-blue-regular; /* Green */
    color: $color-orange;
    transform: translate(0.1px, -1px);
  }
  &:focus {
    outline: none;
  }
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

  /* The sidebar links */
  & a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  /* When you mouse over the navigation links, change their color */
  & a:hover {
    color: #f1f1f1;
  }
  /* Position and style the close button (top right corner) */

  & .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  & a:link {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    font-family: $font-family;
    transition: 0.3s;
  }
  & a:visited {
    color: #ffffff;
  }
}

/* The button used to open the sidebar */
.logoimg2 {
  height: 1vh;
  visibility: hidden;
}
.openbtn {
  font-size: 1px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  visibility: hidden;
  // opacity: 0;
  // cursor: not-allowed;
  // pointer-events: none;
  & :hover {
    background-color: #444;
  }
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
}

.all {
  background-image: linear-gradient(rgba(34, 33, 33, 0.4)),
    url(../img/closeup-heart-stethoscope-cardiovascular-checkup-concept.jpg);
  background-size: cover;
  height: 100%;
}

.login {
  font-family: $font-family;
  background: $color-white;
  width: 25rem;
  align-self: center;
  border-radius: 35px;

  &-header {
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: $color-blue-regular;
  }

  &-container {
    padding-top: 20vh;
    padding-bottom: 12vh;
    min-width: 1rem;
    max-width: 22rem;
  }

  // &-form {
  //   // display: block;
  // }
  &-input {
    border: none;
    font-size: 3.5vh;
    border-bottom: 1px solid black;
    width: 70%;
    margin: 2rem;
    color: $color-blue;
    padding: 3px 15px 7px 12px;
    &::-webkit-input-placeholder {
      color: grey;
      font-size: 30px;
      font-family: $font-family;
    }
    &:focus {
      outline: none;
    }
  }
  &-submit {
    width: 50%;
    height: 3.3rem;
    border-radius: 35px;
    color: $color-white;
    background-color: $color-blue;
    font-family: $font-family;
    font-size: 20px;
    border: none;
    margin-top: 2vh;
    margin-bottom: 5vh;
    &:focus {
      outline: none;
    }
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $color-blue-regular;
  color: $color-orange;
  font-family: $font-family;
  font-size: 3.5vh;
  text-align: center;
}
@media screen and (max-width: 576px), (max-height: 450px) {
  .button {
    width: 25vh;
    padding: 0.5vh;
    margin: 0vh;
    margin-top: 2rem;
    align-self: center;
    background-color: $color-blue-regular;
  }
  .rows {
    display: block;
  }
  .colums {
    width: 100%;
    display: none;
  }
  .colum2 {
    width: 100%;
    display: inline;
  }
  .seccol {
    margin-top: 1px;
    padding-left: 2rem;
    width: 100%;
    &-col {
      padding: 0.5rem;
    }

    &-input {
      width: 80%;
    }
  }
  .sidebar {
    z-index: 100;
    padding-top: 15px;
    font-size: 18px;
    background: $color-blue-regular;
  }
  #main {
    padding-top: 2px;
  }
  .logoimg2 {
    height: 10vh;
    visibility: visible;
    padding-left: 15px;
  }

  .body {
    height: 35.05rem;
  }
  .identity {
    height: 25%;
    width: 100%;
    padding: 1rem;
    margin: 0;

    &-header-1 {
      font-size: 6vw;
      margin-bottom: -0.5rem;
    }
    &-header-2 {
      font-size: 6vw;
      margin-bottom: 1rem;
    }
    &-header-3 {
      font-size: 3vw;
    }
  }
  .side-option {
    color: #ffffff;
    margin: auto;
    &-items {
      padding: 20px 1px 15px;
      font-size: 7vw;
      font-family: $font-family;
    }
  }
  .sidebar {
    background: $color-blue-regular;
  }
  .openbtn {
    visibility: visible;
    margin-left: 13vh;
    font-size: 6vh;
    border-radius: 10px;
  }
  .body {
    height: 85vh;
  }
  .space {
    display: none;
  }
}
